.roam-to-latex--dialog {
    --rl-dialog-margin: 20%;
    align-self: baseline;
    width: calc(100% - 2*var(--rl-dialog-margin));
}

.roam-to-latex--menu {
    opacity: 0.6;
}

.roam-to-latex--settings-row {
    align-items: center;
    display: flex;
}

.roam-to-latex--settings-row > *,
.roam-to-latex--settings-row > label.bp4-label {
    margin: 5px;
}

#roam-to-latex-export-form {
    margin: 10px;
    padding: 10px;
}

#roam-to-latex--overleaf-trigger {
    margin: 10px 0px;
}

/* SMALLER DISPLAYS */

@media (max-width: 1000px){
    .roam-to-latex--dialog {
        --rl-dialog-margin: 10%;
    }
}

@media (max-width: 700px){
    .roam-to-latex--dialog {
        --rl-dialog-margin: 5%;
    }
}
